
.blog {
  ul.recent-posts {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      padding: 3px 0px;
    }
  }

  h3 {
    color: @primary-color;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 3px;

    &.sidebar-title {
      font-size: 18px;
    }

    &.post-title {
      font-size: 28px;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .post {
    padding-bottom: 20px;

    .post-content {
      padding-bottom: 10px;
    }
  }

  input.search {
    background: url("/img/search.png") no-repeat 5px 4px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1.2em;
    padding: 7px 10px 5px 28px;
    color: #555;
    border: 1px solid #ccc;
    margin: 0;
    vertical-align: baseline;
    -webkit-appearance: none;
    width: 100%;
  }

  .cloud {
    padding: 2px;
    line-height: 3em;
    margin: 0;
    li {
      display: inline;
    }
  }
}

