footer {
  background-color: #333333;
  color: white;

  padding: 30px 0 0 0;

  font-size: 12px;
  .avatar {
    float: left;
    margin-right: 14px;
    margin-bottom: 4px;

    img {
      display: block;
      border: black solid 4px;
    }
  }
  .copyright {
    background-color: #111111;
    padding: 25px 0;
    text-align: center;
  }

  .social-icons {
    height: 25px;
    transform: translateY(-50%);
    a {
      color: white;
    }
  }

  .footer-blog {
    li {
      font-size: 18px;
    }
  }

  //  .footer-blog {
  //    ul {
  //      list-style: none;
  //      li {
  //        font-size: 16px;
  //        margin-bottom: 5px;
  //        &:before {
  //          font-family: 'FontAwesome', serif;
  //          font-size: 20px;
  //          content: '\f1ea';
  //          margin: 0 15px 0 -35px;
  //          color: #fff;
  //        }
  //      }
  //    }
  //  }
}